body {
    background-color: black;
    color: white;
}

nav,
footer {
    background-color: rgb(95, 92, 92);
    color: white;
}

header {
    background-color: rgb(71, 68, 68);
    color: gray;
}

button {
    background-color: black;
    color: white;
    border-color: rgb(255, 255, 255);
}

/* Base Changes */
.textHeader {
    background-color: black;
    color: white;
}

/* About Page */
.aboutPage {
    background-color: black;
}

.aboutPageText {
    background-color: black;
    color: white;
}

/* Skill Row */
.skillRowsArt {
    background-color: gray;
}

.skillRowText {
    background-color: black;
    color: white;
}
/* Green/white on Black */
.blueArticles {
    background-color: grey;
}

.whiteHeading {
    background-color: grey;
    color: black;
}

.whiteSect,
.whiteBox {
    background-color: black;
    color: white;
    font-weight: 400;
}

.whiteArticles {
    background-color: grey;
}

.blueHeading {
    background-color: black;
    color: black;
}

.blueSect {
    background-color: grey;
    color: black;
}

/* Header Animation */
.animateText li span::after {
    background-color: black;
    border-left: 3px solid white;
}

.textUnanimated {
    color: white;
}

/* Random */

.animalGallery {
    color: white;
}