/*inherint Page styling*/
* {
    margin: 0;
    padding: 0;
}

/* body{
    
} */

nav {
    background-color: #26619C;
    color: #FFFAFA;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

header {
    font-family: "Lato", serif;
    background-color: #000080;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {}

footer {
    background-color: #26619C;
    color: #FFFAFA;
    display: flex;
}

article {}

section {}

h1 {
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {}

h4 {
    font-size: 25px;
    text-align: center;
}

h5 {}

h6 {}

p {
    font-family: "Arvo", serif;
    font-size: 25px;
}

button {
    background-color: #FFFAFA;
    color: #000080;
    border-color: #000080;
    border-style: outset;
    border-width: 5px;
    width: fit-content;
}

button:hover {
    border-style: inset;
}

img {
    max-width: 50%;
}

ul {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
/*Base styling*/
/* Row and Column */
.row {
    display: flex;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
}

/* nav */
.navbarColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.navBar {
    position: relative;
    display: inline-block;
}

.navBarContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.navBar:hover .navBarContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.navImage {
    direction: rtl;
    width: 5%;
}

.navButtonDD {
    font-size: large;
}

/* Header */
.textHeader {
    background-color: #FFFAFA;
    border-radius: 15px;
    width: fit-content;
    color: #000080;
    display: flex;
    justify-content: space-between;
}

.innerTextHeader {
    display: flex;
    justify-content: space-between;
}

.headerImage {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
}

.title {
    margin: 2%;
    font-size: 4em;
}

.subtitle {
    margin: 2%;
    font-size: xx-large;
}

/* About Page */
.aboutPageText {
    padding: 1%;
    background-color: #0047AB;
    color: #FFFAFA;
    width: 80%;
    display: flex;
}

.aboutPageImage {
    border: thick double #26619C;
    border-radius: 165px;
    cursor: pointer;
    width: 20vw;
    height: 30vh;
}

/* Skill Row */
.skillRow {
    background-color: #26619C;
    color: #FFFAFA;
}

.skillRowSect {
    text-align: center;
}

.skillRowImage {
    max-width: 100%;
    width: 60%;
}

.skillRowText {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Blue Article */
.blueArticles {
    background-color: #0047AB;
    height: max-content;
}

.whiteHeading {
    color: #FFFAFA;
    background-color: #0047AB;
}

.whiteSect,
.whiteBox {
    background-color: #FFFAFA;
    color: #0047AB;
}

.skillRowAboutMe {
    width: 45%;
    display: flex;
}

/* White Article */
.whiteArticles {
    background-color: #E3DAC9;
    height: max-content;
}

.blueHeading {
    color: #0047AB;
    background-color: #FFFAFA;
}

.blueSect {
    background-color: #0047AB;
    color: #FFFAFA;
}

/* No Image */
.noImage {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1%;
}
/* Weird Imaging */

/*Individal styling*/
/* About Me */
.whiteBoxDuo {
    display: flex;
}

.whiteBox {
    display: flex;
    margin: 1%;
}

#whiteBoxProgramming,
#whiteBoxDesign,
#whiteBoxAnimals,
#whiteBoxOrganizing {
    width: 100%;
    border-width: 5px;
    border-style: ridge;
}

/* Home Page */
/* Website Finder */
#whiteSectHome {
    padding: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.websiteImg {
    max-width: min-content;
}

.websiteName {
    text-align: center;
    font-size: x-large;
}

/* Pet Part */
#petInfoSect {
    width: 75%;
    display: flex;
}

.animalGallery {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animalImage {
    max-width: 100%;
    width: 60%;
}

/* Contacts */
#galleryContact {
    display: flex;
    text-align: center;
    margin: 1%;
    margin-bottom: 2%;
}
/* CC Website */
.three {
    width: 33%;
    margin: 1%;
    border-width: 7px;
    border-style: ridge;
}
/*Base styling*/


/*Base styling*/