/*inherint Page styling*/
* {
    margin: 0;
    padding: 0;
}

/* body{
    
} */
nav {
    background-color: #26619C;
    color: #FFFAFA;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

header {
    font-family: "Lato", serif;
    background-color: #000080;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #26619C;
    color: #FFFAFA;
    display: flex;
}

h1 {
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h4 {
    font-size: 25px;
    text-align: center;
}

p,
li {
    font-family: "Arvo", serif;
    font-size: 25px;
}

button {
    background-color: #FFFAFA;
    color: #000080;
    border-color: #000080;
    border-style: outset;
    border-width: 5px;
    width: fit-content;
    cursor: pointer;
}

button:hover {
    border-style: inset;
}

img {
    max-width: 50%;
}

ul {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

/*Base styling*/
/* Row and Column */
.row {
    display: flex;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
}

/* nav */
.navbarColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.navBar {
    position: relative;
    display: inline-block;
}

.navBarContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.navBar:hover .navBarContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.navImage {
    direction: rtl;
    width: 5%;
}

.navButtonDD {
    font-size: large;
}

/* Header */
.textHeader {
    background-color: #FFFAFA;
    border-radius: 15px;
    width: fit-content;
    color: #000080;
    display: flex;
    justify-content: space-between;
}

.innerTextHeader {
    display: flex;
    justify-content: space-between;
}

.headerImage {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
}

.title {
    margin: 2%;
    font-size: 4em;
}

.subtitle {
    margin: 2%;
    font-size: xx-large;
}

.center,
.footerAlign {
    margin: auto;
    width: 70%;
    padding: 10px;
}

/* About Page */
.aboutPageText {
    padding: 1%;
    background-color: #0047AB;
    color: #FFFAFA;
    display: flex;
}

.aboutPageImage {
    border: thick double #26619C;
    border-radius: 165px;
    width: 20vw;
    height: 30vh;
}

/* Skill row */
.skillRowsArt {
    background-color: #26619C;
    color: #FFFAFA;
    margin: 1%;
}

.skillRowSect {
    text-align: center;
}

.skillRowImage {
    margin: 1%;
    max-width: 100%;
    width: 70%;
}

.skillRowText {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFAFA;
    color: #000080;
}

.dotContainer {
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Blue Article */
.blueArticles {
    background-color: #0047AB;
    height: max-content;
}

.whiteHeading {
    color: #FFFAFA;
    background-color: #0047AB;
}

.whiteSect,
.whiteBox {
    background-color: #FFFAFA;
    color: #0047AB;
}

.skillRowAboutMe {
    width: 45%;
    display: flex;
}

/* White Article */
.whiteArticles {
    background-color: #E3DAC9;
    height: max-content;
}

.blueHeading {
    color: #0047AB;
    background-color: #FFFAFA;
}

.blueSect {
    background-color: #0047AB;
    color: #FFFAFA;
}

.websiteImg {
    max-width: min-content;
}

/* No Image */
.noImage {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1%;
}

/* One Section */
.oneSect {
    justify-content: center;
    text-align: center;
    margin: 1%;
}

/* Weird Imaging */

/*Individal styling*/
/* About Me */
.whiteBoxDuo {
    display: flex;
}

.whiteBox {
    display: flex;
    margin: 1%;
}

#whiteBoxProgramming,
#whiteBoxDesign,
#whiteBoxAnimals,
#whiteBoxOrganizing {
    width: 100%;
    border-width: 5px;
    border-style: ridge;
}

/* Home Page */
/* Website Finder */
.whiteSectThree {
    padding: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.websiteImg {
    max-width: min-content;
}

.websiteName {
    text-align: center;
    font-size: x-large;
}

/* Pet Part */
#petInfoSect {
    width: 75%;
    display: flex;
}

.animalGallery {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animalImage {
    max-width: 100%;
    width: 60%;
}

/* Contacts */
#galleryContact {
    display: flex;
    text-align: center;
    margin: 1%;
    margin-bottom: 2%;
}

/* CC Website */
.three {
    width: 33%;
    margin: 1%;
    border-width: 7px;
    border-style: ridge;
}

/* Text Adventure */
#headerImageTA {
    border-radius: 165px;
}

.imageTextAdvent {
    width: 50%;
    text-align: center;
}

#galleryTextAdvent {
    display: flex;
}

/* Troodon Wiki */
.galleryWiki {
    padding: 1%;
    margin: 2%;
    width: 45%;
}

/* Dog Sitting */
#whiteSectMyCosts {
    width: 50%;
}

/* Resume */
.left {
    width: 50%;
}

.resumeImage {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
}

hr {
    color: #FFFAFA;
}

#imageResume {
    scale: 390%;
    translate: 40px 100px;
}

#resumeArticles {
    color: #FFFAFA;
}

.ResumeTitle {
    text-align: left;
}

#resumeArticlesWhite {
    color: #000080;
}

.resumeHeader {
    font-size: xx-large;
}

.resumeSubheader {
    text-align: left;
}

.resumeRow {
    display: flex;
}
/* text animate */
.textUnanimated {
    color: #000080;;
    font-size: 60px;
    font-weight: 600;
}

.animateText {
    margin-left: 15px;
    height: 80px;
    line-height: 90px;
    overflow: hidden;
}

.animateText li {
    list-style: none;
    color: red;
    font-size: 60px;
    font-weight: 800;
    position: relative;
    top: 0;
    animation: animate 12s steps(4) infinite;
}

@keyframes animate {
    100% {
        top: -360px;
    }
}

.animateText li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.animateText li span::after {
    content: "";
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-left: 3px solid black;
    animation: type 3s steps(10) infinite;
}

@keyframes type {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}